body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px 20px;  /* Increased padding for top and bottom */
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width */
    height: 70px;  /* Increased header height */
}

h1 {
    margin: 0;  /* Reset margin */
    flex-grow: 1; /* Allow h1 to take up remaining space */
}


.subheader {
    color: #333;
    padding: 10px 0;
    text-align: center;
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make it bold */
    margin-bottom: 20px; /* Spacing below the subheader */
}

nav {
    margin-left: 20px;  /* Margin for the links */
}

.header-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;  /* Increased padding for the links */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.checklist {
    border: 3px solid #007BFF;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    width: 80%;
    max-width: 600px;
}

.header {
    display: flex;
    align-items: center;
}

.toggle-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Smooth transition effect for opacity */
}

.toggle-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
    transition: transform 0.5s;
}

.toggle-button.expanded::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

.options {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition effect for opacity and max-height */
}

.options.expanded {
    max-height: 500px; /* Adjust to fit content */
    opacity: 1;
}

.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checklist-item label {
    flex-grow: 1;
    margin-right: 10px;
}

.checklist-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.save-button {
    background-color: blue; /* Set the background color to blue */
    color: white; /* Set the text color to white */
    border: none;
    padding: 10px 20px; /* Adjust as needed */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Adjust as needed */
    margin: 20px 2px;
    width: 50%;
    /* height: 40px; */
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.save-button:hover {
    background-color: darkblue; /* Darken the background color a bit when hovered */
}
