.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 columns */
    gap: 20px; /* Adjust the gap between tiles */
    padding: 20px; /* Add padding to the grid container */
    justify-content: center; /* Horizontally center the grid */
    align-items: flex-start; /* Align the grid items to the top */
}


.career-tile {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 400px; /* Set a fixed width for each tile */
    text-align: left; /* Align text to the left */
    white-space: normal; /* Allow text to wrap */
}

.career-tile a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    display: block; /* Make the entire tile clickable */
    height: 100%; /* Ensure the link fills the entire tile */
}

.career-tile a:hover {
    text-decoration: none; 
}

.career-tile:hover {
    transform: scale(1.05); /* Scale up the tile on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

.career-tile h3 {
    margin-top: 0;
}