/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-picture {
    margin-right: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-details {
    text-align: left;
}

.profile-details h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.profile-details p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-picture {
    margin-right: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-details {
    text-align: left;
}

.profile-details h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.profile-details p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

/* Additional styles for more information */
.profile-details p:nth-child(odd) {
    font-weight: bold;
}

.profile-details p:last-child {
    margin-bottom: 0;
}

.edit-profile-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 12px; /* Make the button a little round */
    background-color: #007bff; /* Add blue color */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.profile-container form {
    /* margin-top: auto; */
    justify-content: center;
    display: inline-flex;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
