body {
    background-color: black;
    min-height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */ 
}

.signup-container {
    flex: 1; /* Let the container take remaining vertical space */
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.signup-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.signup-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.signup-container form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.signup-container form input,
.signup-container form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

.signup-container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.signup-container form button:hover {
    background-color: #0056b3;
}

.signup-container form .error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.signup-container form input:hover,
.signup-container form select:hover {
    transform: scale(1.03);
}

.signup-container form label,
.signup-container form input,
.signup-container form select {
    width: 80%; /* Adjust this value as needed */
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
