body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-signup-container {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    border-radius: 12px;
}

.tab-btn.active {
    border-bottom: 2px solid #007bff;
}

.tab-content {
    display: none;
    padding: 20px 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.active-tab {
    display: block;
    opacity: 1;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Added custom styles for the modified button */
.login-btn {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn img {
    margin-right: 10px;
}

/* New CSS for logo container */
.logo-container {
    text-align: center; /* Center the logo */
    margin-bottom: -20px; /* Add margin below the logo */
}

.logo {
    width: 40px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}