.update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
    height: 82vh;
}

#update-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#update-task-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}

.update-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 5px;
}

.update-button:hover {
    background-color: #1c89ff;
    transform: scale(1.1);
}