{% extends 'user_home_base.html' %}

{% block head %}
    <title>Community</title>
    <!-- community CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/community.css') }}">
{% endblock %}


{% block body %}
<section id="community">
    <div class="container">
        <div class="community-header">
            <h1>Welcome to the Pathway Pro Community!</h1>
            <p>Connect, collaborate, and grow with other users.</p>
        </div>
        
        <div class="community-content">
            <div class="community-info">
                <h2>Discord</h2>
                <p>In the Pathway Pro community, you can connect with current students and graduates who are always willing to help each other out, ask questions, and share insights. </p>
                <div class="community-images">
                    <div class="community-image">
                        <img src="{{url_for('static', filename='/images/job.png')}}" alt="dis1">
                    </div>
                    <!-- <div class="community-image">
                        <img src="{{url_for('static', filename='/images/event.png')}}" alt="dis2">
                    </div> -->
                    <div class="community-image">
                        <img src="{{url_for('static', filename='/images/resume.png')}}" alt="dis3">
                    </div>
                    <!-- <div class="community-image">
                        <img src="{{url_for('static', filename='/images/progress.png')}}" alt="dis4">
                    </div> -->
                </div>
                <a href="https://discord.com/invite/cscareers" class="btn" target="_blank">Join Community</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

