{% extends 'home_base.html' %}

{% block head %}
<!-- Home Title-->
<title>Home Page</title>
<!-- Home Styles-->
<link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/navbar.css') }}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet"/>
<!--JavaScript files -->
<script src="{{url_for('static', filename='/javascript/home.js')}}"></script>
{% endblock %}

{% block body %}
  <!-- Navbar -->
  <nav class="navbar"> 
    <div class="logo">
      <img src="{{url_for('static', filename='/images/Pathway_pro_full.png')}}" alt= "logo" width="181" height = "78">
    </div>
    <ul class="nav-links">
      <li><a href="#hero">Home</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="#about_section">About</a></li>
      <li><a href="#community">Community</a></li>
      <li><a href="#contact">FAQ</a></li>
    </ul>
    <div class="user-links">
      <a class = "login" href="/userLogin">Login</a>
    </div>
  </nav>

    <!-- Hero Position -->
  <section id="hero">
    <div class="content">
        <div class="textbox">
            <h2>Welcome to Pathway Pro</h2>
            <p>Embark on a journey towards your dream career with Pathway Pro. Our personalized guidance and resources will help you achieve your professional goals.</p>
            <div class="buttons-container">
                <a href="/userLogin" class="btn">Become a Member</a>
            </div>
        </div>
    </div>
  </section>


    
    <!-- Features Position -->
    <section id="features">
      <div class="container">
        <h2 class="section-title">Our Features</h2>
        <div class="feature-container">
          <!--f1-->
          <div class="feature">
            <div class="feature-img">
              <img src="{{url_for('static', filename='/gifs/checklist_icon.gif')}}" alt="checklist_icon">
            </div>
            <div class="feature-text">
              <h3>Checklist</h3>
              <p>Stay organized with a handy checklist to guide you through essential steps in your career journey, from resume building to interview preparation.</p>
            </div>
          </div>
          <!-- f2 -->
          <div class="feature">
            <div class="feature-img">
              <img src="{{url_for('static', filename='/gifs/modular_struct.gif')}}" alt="modular_struct">
            </div>
            <div class="feature-text">
              <h3>Modular Structure</h3>
              <p>Easily navigate through different sections like resume workshops 
                and LinkedIn profile creation, each divided into manageable modules for focused learning.</p>
            </div>
          </div>
          <!-- f3 -->
          <div class="feature">
            <div class="feature-img">
              <img src="{{url_for('static', filename='/gifs/learn_icon.gif')}}" alt="modular_struct">
            </div>
            <div class="feature-text">
              <h3>Interactive Learning</h3>
              <p> Engage with interactive activities, links, and multimedia resources 
                such as images and videos, providing visual examples to enhance understanding.  </p>
            </div>
          </div>
          <!--f4-->
          <div class="feature">
            <div class="feature-img">
              <img src="{{url_for('static', filename='/gifs/progress_goal.gif')}}" alt="track-goal">
            </div>
            <div class="feature-text">
              <h3>Progress Tracking & Goal Setting</h3>
              <p>Monitor your progress with a visual progress bar and 
                set achievable goals to keep you motivated.</p>
            </div>
          </div>
          <!--f5-->
          <div class="feature">
            <div class="feature-img">
              <img src="{{url_for('static', filename='/gifs/community_icon.gif')}}" alt="community">
            </div>
            <div class="feature-text">
              <h3>Community Support</h3>
              <p>Connect with a supportive community of fellow learners who are on the same journey.  </p>
            </div>
          </div>
          <!--f6-->
          <div class="feature">
            <div class="feature-img">
              <img src="{{url_for('static', filename='/gifs/access.gif')}}" alt="Access">
            </div>
            <div class="feature-text">
              <h3>Immediate Access</h3>
              <p> Access all content from the start, allowing you to 
                learn at your own pace and focus on areas of interest or priority.</p>
            </div>
          </div>
          <!--endf-->
        </div>
      </div>
    </section>

<!-- About position -->
<section id="about_section">
  <div class="about-content">
    <div class="about-text">
      <h1>About Us</h1>
      <p>At Pathway Pro, we're here to help UNCC undergrads get ready for life after college. 
        Our tool, Pathway Pro, is like a personal assistant for job hunting.</p>
    </div>
    <div class="about-image">
      <img src="{{url_for('static', filename='/images/group_photo.jpg')}}" alt="group_photo">
    </div>
  </div>
</section>
<!-- Mission position -->
<section id="mission_section">
  <div class="mission-content">
    <div class="mission-text">
      <h1>Our Mission</h1>
      <p>Our mission at Pathway Pro is to empower UNCC undergraduate students with the tools and guidance they need to thrive in their chosen fields.</p>
    </div>
    <div class="mission-image">
      <img src="{{url_for('static', filename='/images/sir_check.jpg')}}" alt="sir_check">
  </div>
</section>
<!-- Approach position -->
<section id="approach_section">
  <div class="approach-content">
    <div class="approach-text">
      <h1>Our Approach</h1>
      <p>Pathway Pro stands out for its focus on personal le­arning and growth. We know each person's path is diffe­rent. So, our platform gives custom tips based on your goals, interests, and career aspirations.
      </p>
    </div>
    <div class="approach-image">
      <img src="{{url_for('static', filename='/images/women.jpeg')}}" alt="girl_career">
    </div>
  </div>
</section>



<!-- Our Community position -->
<section id="community">
  <div class="container">
    <h2>Our Community</h2>
    <h3>Trust their words, not just ours</h3>
    <div class="slideshow">
      <img src="{{ url_for('static', filename='/images/axel.png') }}" alt="Community Image 1">
      <img src="{{ url_for('static', filename='/images/jay.png') }}" alt="Community Image 2">
      <img src="{{ url_for('static', filename='/images/jess.png') }}" alt="Community Image 3">
      <img src="{{ url_for('static', filename='/images/natalie.png') }}" alt="Community Image 4">
      <img src="{{ url_for('static', filename='/images/mike.png') }}" alt="Community Image 5">
      <img src="{{ url_for('static', filename='/images/sabba.png') }}" alt="Community Image 6">
      <img src="{{ url_for('static', filename='/images/rich.png') }}" alt="Community Image 7">
      <img src="{{ url_for('static', filename='/images/rob.png') }}" alt="Community Image 8">
      
    </div>
  </div>

</section>


<!-- Contact Us and FAQ Position -->
<section id="contact">
  <div class="container">
    <div class="contact">
      <h2>Just Ask. Get Answers</h2>
      <form>
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <textarea placeholder="Message"></textarea>
          <button type="submit">Send</button>
      </form>
    </div>
    <div class="faq">
      <div class="faq-header">
        <h1>Frequently Asked Questions</h1>
      </div>
      <div class="faq-content">
        <div class="faq-question">
          <h3 class="question">Can I use Pathway Pro if I'm not a student at UNCC?</h3>
          <div class="answer">
            <p>No, Pathway Pro is currently only accessible to students affiliated with UNCC.</p>
          </div>
        </div>
        <!-- Repeat this for each question -->
        <div class="faq-question">
          <h3 class="question">Is Pathway Pro free to use, or are there any subscription fees?</h3>
          <div class="answer">
            <p>Pathway Pro is completely free to use! Enjoy access to all features without any subscription fees.</p>
          </div>
        </div>
        <!-- Repeat for other questions -->
        <div class="faq-question">
          <h3 class="question">Can I customize my checklist based on my specific career goals and interests?</h3>
          <div class="answer">
            <p>Absolutely! Pathway Pro allows you to personalize your checklist according to your unique career aspirations and interests.</p>
          </div>
        </div>
        <!-- Repeat for other questions -->
        <div class="faq-question">
          <h3 class="question">Can I track my progress and update my checklist as I go?</h3>
          <div class="answer">
            <p>Yes, Pathway Pro provides tools to track your progress and update your checklist as you make advancements in your career journey.</p>
          </div>
        </div>
        <!-- Repeat for other questions -->
        <div class="faq-question">
          <h3 class="question">How frequently is Pathway Pro updated with new features or content?</h3>
          <div class="answer">
            <p>The Pathway Pro platform will continuously be refreshed with new features, improvements and content.
              We want Pathway Pro to evolve and keep the platform current to provide the best available career guidance possible.</p>
          </div>
        </div>
        <!-- Repeat for other questions -->
        <div class="faq-question">
          <h3 class="question">Can I access Pathway Pro on my mobile device?</h3>
          <div class="answer">
            <p>No, Pathway Pro is currently optimized for desktop use. While we're working hard to 
              make it accessible on mobile devices, it's not available just yet.</p>
          </div>
        </div>
        <!-- Repeat for other questions -->
        <div class="faq-question">
          <h3 class="question">How can I contact customer support if I encounter any issues or have further questions?</h3>
          <div class="answer">
            <p>If you experience any difficulties or have any questions, you can contact our customer support team via 
              email, phone or through our online support portal to get assistance.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}