{% extends 'home_base.html' %}

{% block head %}
<title>Home-Page</title>
<!-- Home Style-->
<link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
{% endblock %}

{% block body %}
    <!-- Home Position -->
    <section>
      <div class="content">
          <div class="textbox">
            <h2>Welcome to Pathway Pro</h2>
            <p>Embark on a journey towards your dream career with Pathway Pro. Our personalized guidance and resources will help you achieve your professional goals.</p>
            <a href="#">Become a Member</a>
          </div>
          <!-- Student Image-->
          <div class="imgBox">
            <img src="{{url_for('static', filename='/images/student.png')}}" alt="student"/>
          </div>
      </div>
    </section>
  

{% endblock %}