<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/Pathway_pro_icon_white.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/user_home_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/custom_scrollbar.css') }}"> 
    {% block head %}{% endblock %}
</head>
<body>

<div>
    {% block body %}{% endblock %}
</div>

<footer>
    <p>Copyright © 2024 Pathway Pro. All rights reserved.</p>
</footer>

</body>
</html>
