{% extends 'user_home_base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/myLearning.css') }}">
    <script src="{{url_for('static', filename='/javascript/checklist.js')}}"></script>
    <title>Checklist</title>
{% endblock %}

{% block body %}

    <!-- Progress bar -->
    <div id="progressBarContainer">
        <span id="progressLabel">Progress Completed</span>
        <div id="progressBar"></div>
    </div>
    
    <!-- Subheader for "Learning Modules" -->
    <div class="subheader">
        <h2>Learning Modules</h2>
    </div>
    <form action="/saveChecklist" method="POST"> 
        {% for module in modules%}
        <div class="container">
            <div class="checklist">
                <div class="header">
                    <button onclick="toggleChecklist(event, '{{module.ModuleID}}')" class="toggle-button"></button>
                    <h2>{{module.ModuleName}}</h2>
                </div>
                <div class="options" id="{{module.ModuleID}}">            
                        {% for moduleItem in module.items%}
                        <div class="checklist-item">
                            <label for="item1"><a href="{{moduleItem.itemLink}}" target="_blank" rel="noopener noreferrer">{{moduleItem.ItemName}}</a></label>
                            <input type="checkbox" id="item1" value="{{moduleItem.ModuleItemID}}" name="moduleItemCheckboxInput" {% for selectedItem in userSelections if moduleItem.ModuleItemID == selectedItem.ModuleItemID %}checked {% endfor %}>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="container">
            <button id="saveButton" class="save-button">Save</button>
        </div>                
    </form>

    <!-- <script src="checklist.js"></script> -->
{% endblock %}

