{% extends 'user_home_base.html' %}

{% block head %}
    <title>My Practice</title>
    <!-- practice CSS style file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/practice.css') }}">
    <!--JavaScript files -->
    <script src="{{url_for('static', filename='/javascript/career_paths.js')}}"></script>
{% endblock %}

{% block body %}
<div class="grid-container">
    <!-- Career Path Tile 1 -->
    <div class="career-tile">
        <a href="https://www.coursera.org/specializations/financial-analysis-skills-for-success#courses">
            <h3>Financial Analyst</h3>
            <p>Starting Salary: $64,203 per year</p>
            <p>Mid Salary: $99,890 per year</p>
            <p>Job Outlook: Positive 8% (Faster than average)</p>
            <p>Financial analysts guide businesses and individuals in decisions about expending money to attain profit.</p>
        </a>
    </div>

    <!-- Career Path Tile 2 -->
    <div class="career-tile">
        <a href="https://www.coursera.org/learn/introduction-to-software-engineering">
            <h3>Software Developer</h3>
            <p>Starting Salary: $72,679 - $87,153 per year</p>
            <p>Mid Salary: $130,160 per year</p>
            <p>Job Outlook: Positive 25% (Much faster than average)</p>
            <p>Software developers design, build, program, deploy, and maintain software using a variety of tools and skills.</p>
        </a>
    </div>

    <!-- Career Path Tile 3 -->
    <div class="career-tile">
        <a href="https://www.coursera.org/specializations/accounting-fundamentals">
            <h3>Accountant</h3>
            <p>Starting Salary: $55,344 - $66,954 per year</p>
            <p>Mid Salary: $79,880 per year</p>
            <p>Job Outlook: Positive 4% (As fast as average)</p>
            <p>Accountants review and analyze financial records, and help businesses and individuals make critical financial decisions.</p>
        </a>
    </div>

    <!-- Career Path Tile 4 -->
    <div class="career-tile">
        <a href="https://www.coursera.org/professional-certificates/google-ux-design#courses">
            <h3>UX Designer</h3>
            <p>Starting Salary: $50,000 - $70,000 per year</p>
            <p>Mid Salary: $90,000 and $104,580 per year</p>
            <p>Job Outlook: Positive 8% (Faster than average)</p>
            <p>User Experience (UX) Designers are responsible for the look and feel of a product, website, or app.</p>
        </a>
    </div>

    <!-- Career Path Tile 5 -->
    <div class="career-tile">
        <a href="https://www.lecturio.com/nursing/topics/clinical-skills/">
            <h3>Nursing</h3>
            <p>Starting Salary: $60,575 - $77,190 per year</p>
            <p>Mid Salary: $86,070 per year</p>
            <p>Job Outlook: Positive 6% (Faster than average)</p>
            <p>Registered nurses (RNs) provide and coordinate patient care and educate patients and the public about various health conditions.</p>
        </a>
    </div>

    <!-- Career Path Tile 6 -->
    <div class="career-tile">
        <a href="https://www.coursera.org/professional-certificates/google-digital-marketing-ecommerce">
            <h3>Marketing Manager</h3>
            <p>Starting Salary: $83,488 per year</p>
            <p>Mid Salary: $156,580 per year</p>
            <p>Job Outlook: Positive 6% (Faster than average)</p>
            <p>Advertising, promotions, and marketing managers plan programs to generate interest in products or services.</p>
        </a>
    </div>

    <!-- Career Path Tile 7 -->
    <div class="career-tile">
        <a href="https://www.coursera.org/learn/social-media-management">
            <h3>Social Media Manager</h3>
            <p>Starting Salary: $42,000 - $62,000 per year</p>
            <p>Mid Salary: $62,000-$93,000 per year</p>
            <p>Job Outlook: Positive 7% (Faster than average)</p>
            <p>Social media managers are responsible for managing a company's social media accounts and presence across multiple platforms. </p>
        </a>
    </div>

    <!-- Career Path Tile 8 -->
    <div class="career-tile">
        <a href="https://vetbloom.com/">
            <h3>Veterinarian</h3>
            <p>Starting Salary: $57,740 per year</p>
            <p>Mid Salary: $119,100 per year</p>
            <p>Job Outlook: Positive 20% (Much faster than average)</p>
            <p>Veterinarians care for the health of animals and work to protect public health.</p>
        </a>
    </div>

    <!-- Career Path Tile 9 -->
    <div class="career-tile">
        <a href="https://www.coursera.org/specializations/graphic-design#enroll">
            <h3>Graphic Designers</h3>
            <p>Starting Salary: $56,977 per year</p>
            <p>Mid Salary: $58,910 per year</p>
            <p>Job Outlook: Positive 3% (As fast as average)</p>
            <p>Graphic designers create visual concepts, using computer software or by hand, to 
            communicate ideas that inspire, inform, and captivate consumers.</p>
        </a>
    </div>

    <!-- Career Path Tile 10 -->
    <div class="career-tile">
        <a href="https://www.coursera.org/learn/exposure-photography">
            <h3>Photographer</h3>
            <p>Starting Salary: $35,132 per year</p>
            <p>Mid Salary: $30,000-$75,000 per year</p>
            <p>Job Outlook: Positive 4% (As fast as average)</p>
            <p>Photographers use their technical expertise, creativity, and composition skills to produce and preserve images.</p>
        </a>
    </div>
</div>
{% endblock %}


