{% extends 'home_base.html' %}

{% block head %}
<title>User Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/profilePage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/checklist.css') }}">
{% endblock %}

{% block body %}    
    <header>
        <h1>Pathway Pro</h1>
        <nav>
            <a href="/" class="header-link">Home</a>
            <a href="/myLearning" class="header-link">My Learning</a>
            <a href="/myProgress" class="header-link">My Progress</a>
            <a href="/logout" class="header-link">Logout</a>
            <a href="/myProfile" class="header-link">My Profile</a>
        </nav>
    </header>
    <div class="profile-container">
        <div class="profile-picture">
            <img src={{user.profile_pic}} alt="User Picture">
        </div>
        <div class="profile-details">
            <h1>{{ user.name }}</h1>
            <p>Email: {{ user.email }}</p>
            <p>Major: {{ user.major }}</p>
            <p>Year: {{ user.year }}</p>
            <p>GPA: {{ user.gpa }}</p>
            <p>Advisor: {{ user.advisor }}</p>
            <p>Enrollment Status: {{ user.Enrollment_Status }}</p>
            <p>Level: {{ user.level }}</p>
            <p>Program: {{ user.program }}</p>
            <p>College: {{ user.college }}</p>
            <!-- Add more relevant details here -->
        </div>
        <div class="button-container">
            <form action="/userUpdate" method="GET">
                <input type="submit" value="Edit Profile" class="edit-profile-button">
            </form>
            <form action="/userDelete" method="GET">
                <input type="submit" value="Delete Profile" class="edit-profile-button">
            </form>
        </div>
    </div>
{% endblock %}
