<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pathway Pro Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='/images/Pathway_pro_icon_white.png') }}">
    </head>
    <body>
        <div class="login-signup-container">
            <div class="tabs">
                <button class="tab-btn active" onclick="openTab('login')">Login</button>
            </div>
            <div id="login" class="tab-content active-tab">
                <h2>Login</h2>
                <form action="/login" method="GET">
                    <div class="form-group">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

